<div class="sidebar-content my-threads p-3 " style="background-color: #e6edf0; color: white; height: 100%;">
    <div id="user-detail" class="p-2 bg-white border  rounded-3 mb-2 w-100 text-center"></div>
    <button class="btn btn-primary rounded-3 mb-2 w-100" id="myThreadsButton" >
        <a id="my-threads-link" href="#" class="text-white">我的文章</a>
    </button>
    <button class="btn btn-warning rounded-3 w-100" id="createThreadButton">我要發文</button>
    <div id="myThreads">
        <!-- My Threads will be dynamically populated here -->
    </div>
</div>