<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky p-0">
  <a href="/courseFront/selectAllPage" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h2 class="m-0 text-primary">
      <img src="/account/images/softskillz_logo.png" alt="SoftSkillz" class="me-3"
        style="max-width: 250px; height: auto; margin-top: 16px" />
    </h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="/courseFront/selectAllPage" class="nav-item nav-link active" style="font-size: 26px">首頁</a>

      <div class="nav-item dropdown">
        <a href="/student/student-info" th:if="${loggedInUser == 'student'}" class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown" style="font-size: 26px">個人中心</a>
        <div class="dropdown-menu fade-down m-0">
          <a href="/student/student-info" th:if="${loggedInUser == 'student'}" class="dropdown-item">個人中心</a>
          <a href="/studentScheduleFront/schedule" th:if="${loggedInUser == 'student'}" class="dropdown-item">學生行事曆</a>
          <a href="/studentReservationFront/reservation" th:if="${loggedInUser == 'student'}"
            class="dropdown-item">學生預約</a>
        </div>
      </div>
      <a href="/companionFrontIndex" th:if="${loggedInUser == 'student'}" class="nav-item nav-link"
        style="font-size: 26px">學伴</a>
      <div class="nav-item dropdown">
        <a href="/courseFront/selectAllPage" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
          style="font-size: 26px">課程</a>
        <div class="dropdown-menu fade-down m-0">
          <a href="/courseFront/selectAllPage" class="dropdown-item">所有課程</a>
          <a href="/courseFront/selectAllPage?category=語言" class="dropdown-item">語言</a>
          <a href="/courseFront/selectAllPage?category=程式設計" class="dropdown-item">程式設計</a>
          <a href="/courseFront/selectAllPage?category=藝術" class="dropdown-item">藝術</a>
          <a href="/courseFront/selectAllPage?category=影片剪輯" class="dropdown-item">影片剪輯</a>
          <a href="/courseFront/selectAllPage?category=科學" class="dropdown-item">科學</a>
          <a href="/courseFront/selectAllPage?category=商業" class="dropdown-item">商業</a>
        </div>
      </div>
      <a href="/forum/home" class="nav-item nav-link" style="font-size: 26px">論壇</a>
      <a href="/mall/frontend" class="nav-item nav-link" style="font-size: 26px">商城</a>
      <a href="/courseorder/order.do" class="nav-item nav-link" style="font-size: 26px"
        th:if="${loggedInUser == 'student'}">訂單</a>
      <div class="nav-item dropdown" th:if="${loggedInUser == 'student'}">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-chat-square-dots"
            style="font-size: 27px"></i></a>
        <div class="dropdown-menu fade-down m-0" id="chatlist"></div>
      </div>
      <div class="navbar-nav ms-auto p-4 p-lg-0" th:if="${loggedInUser == 'student'}">
        <a href="/coursecart/cart.do" class="nav-item nav-link" style="font-size: 27px"><i class="bi bi-cart4"></i></a>
      </div>
    </div>
  </div>

  <div class="navbar-nav p-4 p-lg-0">
    
    <div class="d-flex align-items-center" th:if="${loggedInUser == 'student'}">
      <form action="/student/student-logout" method="post" class="d-none d-lg-block">
        <button type="submit" class="btn btn-primary btn-block py-4 px-lg-5" style="font-size: 26px">
          <i class="bi bi-person-circle"></i>&nbsp;&nbsp;登出
        </button>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar End -->