td img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

table {
    width: 100%;
    /* 根据需要调整 */
    margin: auto;
    /* 居中表格 */
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #425169;
    /* 与侧边栏接近的颜色 */
    color: #fff;
    /* 文本颜色 */
}

/* 表头样式 */
th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #34495e;
    /* 与侧边栏接近的颜色 */
    color: #fff;
    /* 文本颜色 */
    text-align: center;
}

/* 单元格样式 */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background-color: #fff;
    /* 白色背景 */
    color: #425169;
    /* 与侧边栏接近的颜色 */
}

/* 偶数行样式 */
tbody tr:nth-child(even) {
    background-color: #425169;
    /* 与侧边栏接近的颜色 */
    color: #fff;
    /* 文本颜色 */
}

/* 鼠标悬停效果 */
tbody tr:hover {
    background-color: #34495e;
    /* 与侧边栏接近的颜色 */
    color: #fff;
    /* 文本颜色 */
}

.custom-button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #2980b9;
}

.search button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.search button:hover {
    background-color: #2980b9;
}