.navbar {
    background-color: #faf0e6;
    height: 50px;
    position: fixed;
    /* 固定在屏幕上 */
    top: 0;
    /* 位置在顶部 */
    width: 100%;
    /* 覆盖整个宽度 */
    background-color: #faf0e6;
    height: 50px;
    z-index: 10;
    /* 确保在其他内容之上 */
}

.container {
    width: 1024px;
    margin: 0 auto;
}

/* Logo styles */
.logo {
    display: inline;

    a {
        text-decoration: none;
        color: #ff8c00;
        font-size: 24px;
        line-height: 50px;
    }

    .fa-lines-leaning {
        color: #ff8c00;
        margin-right: 1em;
    }
}

/* Main menu styles */
.menu {
    float: right;
    list-style: none;
    /* Removes default list style */
}

.menu>li {
    float: left;
    /* Horizontal alignment for top-level menu items */
    position: relative;
    /* Allows absolute positioning for submenus */
}

.menu>li>a {
    display: block;
    /* Ensure top-level menu items are block-level */
    color: #ff8c00;
    text-decoration: none;
    padding: 0 1em;
    line-height: 50px;
    /* Match height of the navbar */
}

.menu>li>a:hover {
    background-color: #ff8c00;
    color: #faf0e6;
}

/* 子菜单样式 */
.submenu {
    display: none;
    position: absolute;
    background-color: #faf0e6;
    padding: 10px;
    top: 50px;
    left: 0;
    z-index: 1;
    min-width: 300px;
    min-height: 500px;
    overflow-y: auto;
}

.menu>li:hover .submenu {
    display: block;
}

.submenu>li {
    display: block;
    padding: 5px;
    margin: 10px;
    height: 50px;
    text-decoration: none;
    background-color: white;
    color: #ff8c00;
    padding: 0.5em;
    line-height: 50px;
}



.submenu>li:hover {
    background-color: #ff8c00;
    color: #faf0e6;
}

/* 子菜单内的布局 */
.submenu div {
    display: flex;
    font-size: 20px;

    justify-content: flex-start;
    align-items: center;
    float: left;
}

.submenu img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.submenu span {
    display: inline-block;
}

/* 其他布局部分 */
.header {
    background-image: url();
    max-width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text {
    color: #fff;
    background-color: #000;
    opacity: 0.6;
    padding: 2em;
    text-align: center;
}

.content {
    margin-top: 20px;
}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	th,
	td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
		vertical-align: middle;
		/* Align content vertically in the middle */
	}

	th {
		background-color: #faf0e6;
		/* Same as your navbar background color */
		color: #ff8c00;
	}

	tbody tr:nth-child(even) {
		background-color: #f2f2f2;
	}

	tbody tr:hover {
		background-color: #ddd;
	}

	img {
		max-width: 100px;
		height: auto;
		display: block;
		margin: 0 auto;
	}

	.content {
		margin-top: 20px;
		overflow-x: auto;
	}