td img {
	width: 100%;
	height: auto;
	max-width: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
  width: 100%
}


th {
  background-color: #faf0e6; /* Same as your navbar background color */
  color: #ff8c00; /* Same as your link color */
  
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}
