        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            height: 80vh;
        }

        .sidebar {
            width: 250px;
            background-color: #333;
            color: #fff;
            padding-top: 20px;
            height: 90vh;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .sidebar ul li {
            padding: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .sidebar ul ul {
            display: none;
            list-style: none;
            padding-left: 20px;
        }

        .sidebar ul ul li {
            padding: 5px 10px;
        }

        .sidebar ul li.has-submenu:before {
            content: '\25B6';
            float: right;
        }

        .sidebar ul li.active.has-submenu:before {
            content: '\25BC';
        }

        .sidebar ul li.active ul {
            display: block;
        }

        .content {
            flex: 1;
            padding: 20px;
        }

        .result {
            background-color: #f4f4f4;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: auto;
        }

        table {
            display: inline-block;
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
            font-size: 14px;
            width: 500px;
        }

        th {
            background-color: #333;
            color: white;
            width: 100px;
        }

        td {
            line-height: 50px !important;
            padding: 10px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .add {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .add:hover {
            background-color: #45a049;
        }

        /* 新增的样式 */
        .date-selector {
            margin-bottom: 20px;
        }

        .date-selector label,
        .date-selector input[type="date"],
        .date-selector button {
            vertical-align: middle;
        }

        .date-selector button {
            margin-left: 10px;
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .date-selector button:hover {
            background-color: #45a049;
        }
         a {
            text-decoration: none; 
            color: inherit; 
        }

        a:hover {
            text-decoration: none; 
        }
             .goback {
            padding: 10px 20px; /* 调整按钮内边距 */
            font-size: 16px; /* 调整字体大小 */
        }
        .custom-button {
            padding: 8px 16px; /* 按钮内边距 */
            border: 1px solid #ccc; /* 边框 */
            background-color: #f4f4f4; /* 背景颜色 */
            color: #333; /* 文字颜色 */
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s; /* 过渡效果 */
        }

        .custom-button:hover {
            background-color: #ddd; /* 悬停时的背景颜色 */
            color: #222; /* 悬停时的文字颜色 */
        }