td img {
	width: 100%;
	height: auto;
	max-width: 100px;
	display: block;
	margin: auto;
}td img {
	width: 40%;
	height: auto;
	max-width: 100px;
}
/* Add this CSS to your existing stylesheet */
table {
	width: 80%;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 20px;
}

th, td {
	padding: 8px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
	text-align: center;
}

th {
	background-color: #faf0e6; /* Same as your navbar background color */
	color: #ff8c00; /* Same as your link color */
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

tbody tr:hover {
	background-color: #ddd;
}

tfoot tr td {
	text-align: right;
}

tfoot {
	background-color: #faf0e6; /* Same as your navbar background color */
}

tfoot tr:first-child td {
	text-align: right;
	padding: 8px;
	font-size: 32px;
	color: #ff8c00; /* Same as your link color */
}

tfoot tr:last-child td {
	border-top: 2px solid #ff8c00; /* Same as your link color */
}

tfoot button {
	background-color: #ff8c00; /* Same as your link color */
	color: #fff; /* White text color */
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
}

tfoot button:hover {
	background-color: #ffad5c; /* Lighter shade of your link color */
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 确保 padding 和 border 不会增加元素的实际宽度 */
  font-size: 16px;
  appearance: none; /* 隐藏默认的下拉箭头 */
  background-color: white; /* 下拉框背景色 */
}

/* 鼠标悬停时改变下拉框的背景色 */
select:hover {
  background-color: #f2f2f2;
}

/* 下拉框获取焦点时改变边框颜色 */
select:focus {
  border-color: #ff8c00; /* Same as your link color */
}